@charset "utf-8";

.img_logo{
    margin-bottom: 3%;
    margin-top: 3%;
    margin-left: 10%;
    width: 15%;
    height: 10%;
}

.title h1,
.title h2{
    display: inline;
    font-weight:bold;
    font-family: 'Nanum Gothic', '나눔고딕',sans-serif;
}
h1 {
    margin-left: 20%;
    font-size: 3.5vw;
    color:#01459a;
}
h2{
    font-size:2.5vw;
}

.back_img{
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('image/inha_uni.jpg');
    background-attachment: local;
    background-size: 80% 100%;
}

.field
{   text-align:left;
    width: 90%;
    padding: 5px 25px;
    border: 1px solid #00377c;
    background-color:#f1f3f5;
    font-size: 1vw;
    margin-left: 20%;
}


.field:focus
{
    background-color:white;
    border: 2px solid black;
}

.btn-login{
    height: 60%;
    width:50%;
	display: block;
    background: #0066b3;
    border-radius: 5px;
	box-sizing: border-box;
	color: #fff;
	font-size: 1.2vw;
    font-weight: 650;
    font-family: 'Nanum Gothic', '나눔고딕',sans-serif;
    margin-left:5%;
    padding: 1% 2%;
}
.btn-login:hover {
    text-decoration: underline;
}

#signup{
    height: 80px;
    margin-top:0.5%;
}

.btn-sign {
    height:30%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
	background:#01459a;
	cursor: pointer;
	font-size:0.8vw;
	font-family: 'Nanum Gothic', '나눔고딕',sans-serif;
    font-weight: bold;
    margin-left:20%;
}
.btn-sign:hover{
    background: #00377c;
}

.full_frame{
    display: flex;
    height:100px;

}

.left_frame{
    float:left;
    margin-left:16.5%;
    margin-right:3%;
    height:150px;
    max-width:20%;
}

.right_frame{
    width:135px;
    margin-left:50px;
    margin-top:25px;
}


