@charset "utf-8";

body{
    background-color: black;
}
.suc{
    text-align: center;
    padding : 30px 20px 20px 20px;
    border:none;
    background-color: rgb(255, 255, 255);
    margin-left:30%;
    margin-right:30%;
    margin-top:10%;
}
h4{
    font-size:3vw;
    color:red;
    font-weight: bold;
}
h5{
    font-size:2vw;
    color:black;
}
.smile{
    max-width: 15%;
    width:100px;
    margin-bottom:1%;
}