<!DOCTYPE html>
{% with messages= get_flashed_messages()%} 
{% if messages %}
  <script>
  alert("{{messages[-1]}}");  
   </script>
  {% endif %} 
{% endwith %}
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>Face id-login</title>
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0"
    />
    <link rel="stylesheet" href="{{url_for('static',filename='login.css')}}" >
    <link
      href="https://fonts.googleapis.com/css?family=Quicksand&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="contact-box">
        <a href="/"><img src="{{url_for('static',filename='image/inha_logo.PNG')}}" class="img_logo"/></a>
        <div class="back_img">
          <br />
          <br />
          <br />
          <div class ="title">
            <h1>INHA</h1>
            <h2>SECURITY CHECK SYSTEM</h2>
          </div>
          <div class="full_frame">
            <div class="left_frame">
              <form name="form" method="post" action="/login" style="height:110px">
                <div class="loginbox" style="font-size: 1rem;">
                  <p>
                    <input
                     class="field"
                      type="text"
                      name="userid"
                      placeholder="아이디 입력"
                    />
                  </p>
                  <p>
                    <input
                      class="field"
                      type="password"
                      name="pw"
                      placeholder="비밀번호 입력"
                    />
                  </p>
                </div>
                <br />
              <br />
              <br />
            </div>
            <div class="right_frame">
              <input class="btn-login" type="submit" value="로그인" />
            </div>
          </form>
          </div>
          <div id="signup">
            <button onclick="location.href='/sign_up'" class="btn-sign"><a>Face ID 회원가입</a></button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>