<!DOCTYPE html>
<html lang="ko">
    {% with messages= get_flashed_messages()%} {% if messages %}
    <script>
      alert("{{messages[-1]}}");
    </script>
    {% endif %} {% endwith %}
  
<head>
    <meta charset="UTF-8">
    <title>face id - 회원가입</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='sign_up.css')}}" >
    <!--href 저 형식으로 해야 flask가 먹히거든? 그니까 css 파일 만들때 sign_up.css이렇게 만들어주면 돼!-->
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <script>
        var regType1 = /^[A-Za-z0-9+]*$/;
        if (regType1.test(document.getElementById('userid').value))
           { alert('아이디가 조건에 맞지 않습니다'); }
    </script>
</head>
<body>
    <div class="container">
        <div class="contact-box">
               <form name="sign_up" method="post" action="" enctype="multipart/form-data">
                <h2>Face ID 회원가입</h2>
                <hr>
                <div class="label1">이름</div>
                <div class="label2">
                    <input type="text" name="name" class="field" placeholder="Your Name">
                </div>
                <div class="label1">id</div>
                <div class="label2">
                    <input type="text" name="userid" class="field" placeholder="Your ID">
                </div>
                <h4 style="font-size:0.5vmax; color:red">id는 영문/숫자의 조합으로 입력해 주십시오.</h4>
                <div class="label1">이메일</div>
                <div class="label2">
                    <input type="email" name="email" class="field" placeholder="Your Email">
                </div>
                <div class="label1">비밀번호</div>
                <div class="label2">
                    <input type="password" name="pw" class="field" placeholder="Your password">
                </div>
                <hr>
                <p>본인 얼굴이 나온 사진을 8장 찍어서 업로드하세요.</p>
                <div class="label1">Face Photo</div>
                <div class="label2">
                    <input multiple="true" type="file"  name="file[]" autocomplete="off" required>
                </div>  
                <hr>
                <input type="submit" class="btn" value="회원가입">
                </form>
        </div>
    </div>
</body>
</html>